<!doctype html>
<meta charset="utf-8">
<title>Octonet - Graph your GitHub</title>
<script type=text/javascript src="d3.v5.min.js"></script>
<script type=text/javascript src="chart.js" defer></script>
<style>
:root {
  --team-clr: #d08770;
  --user-clr: #b48ead;
  --repo-clr: #a3be8c;
}

* {
  font-family: sans-serif;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  color: #2e3440;
}

nav {
  position: absolute;
  padding: 20px;
  width: 25%;
  background-color: #ffffff99;
}

svg#graph {
  float: left;
  width: 100%;
  height: 100%;
}

h1 {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-size: 60px;
  overflow: hide;
}

input#search {
  display: block;
  width: 100%;
  border: 2px solid #101010;
  border-radius: 4px;
  background: none;
  font-style: italic;
  font-size: 20px;
  padding: 10px;
  margin-top: 10px;
}

ul#search-results {
  margin: 0;
  padding: 10px 0;
  list-style: none;
  overflow: auto;
  max-height: 80vh;
}

ul#search-results li {
  padding: 5px;
}

ul#search-results li:hover {
  background-color: #eceff4;
}

ul#search-results li:before,
.label {
  display: inline-block;
  content: attr(data-type);
  text-transform: uppercase;
  font-size: 9px;
  padding: 2px;
  border-radius: 2px;
  margin-right: 3px;
  color: #fff;
  background-color: #3b4252;
  vertical-align: middle;
}

ul#search-results li[data-type="team"]:before {
  background-color: var(--team-clr);
}

ul#search-results li[data-type="user"]:before {
  background-color: var(--user-clr);
}

ul#search-results li[data-type="repo"]:before {
  background-color: var(--repo-clr);
}

.hidden {
  visibility: hidden;
}

#infobox {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  width: 25%;
  background-color: #ffffff99;
}

#info-type {
  text-transform: uppercase;
  font-size: 10px;
  padding: 4px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 10px;
}

#infobox[data-type="team"] #info-type {
  background-color: var(--team-clr);
}

#infobox[data-type="user"] #info-type {
  background-color: var(--user-clr);
}

#infobox[data-type="repo"] #info-type {
  background-color: var(--repo-clr);
}

#infobox[data-type="team"] #info-image,
#infobox[data-type="repo"] #info-image {
  visibility: hidden;
}

#info-label {
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 10px;
}

#info-image {
  position: absolute;
  top: 30px;
  right: 30px;
  height: 120px;
  width: 120px;
  border-radius: 60px;
}

.float-right {
  float: right;
}

.links a:link, .links a:visited {
  display: inline-block;
  float: right;
  text-decoration: none;
  color: #5e81ac;
}
</style>
<body>
  <nav>
    <h1>Octonet<div class="float-right">🐙 🥅</div></h1>
    <div class="links"><span class="label">org</span><%= org_name %> <a href="https://github.com/vixus0/octonet" title="Link to Octonet repository"><img src="github.png" alt="GitHub" height=19></a></div>
    <input id=search placeholder="search...">
    <ul id="search-results">
    </ul>
  </nav>

  <div id=infobox class=hidden>
    <div id=info-type></div>
    <div id=info-label></div>
    <div id=info-name></div>
    <img id="info-image" src="">
  </div>

  <svg id=graph>
    <text x="50%" y="50%" font-size="40px" fill="#d8dee9" id="loading">Loading...</text>
  </svg>
</body>
